.versus {
  margin-top: 100px;
}

.name {  
  text-transform: capitalize;
}

.tiny {
  font-size: 15px;
}

.champion_name {
  font-size: 60px;
  text-transform: capitalize;
}

.img_home:hover {
  cursor: pointer;
}